* {
  margin: 0;
  padding: 0;
}

body {
    background-color: rgb(3, 26, 41);
    
}

#canvas {
  margin: 10px auto 10px auto;
  display: block;
  border-radius: 10px 50px / 50px 25px; 
}

.intro {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: "SF Comic Script Shaded";
  font-size: 50px;
  color: rgb(173, 113, 207);
  margin-top: 200px;
}

#game-board {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.start-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
  color: rgb(30, 55, 112);
  text-align: center;
  background-color: aquamarine;
  padding: 10px 30px;
  border-radius: 10px 5px;
  border: solid 2px rgb(173, 113, 207);
}
